* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.body {
    display: flex;
    justify-content: center;
}

.body .container {
    width: 1440px;
    background: #212721;
    height: 6801px;
}

.header {
    display: flex;
    justify-content: center;
}

.header .component .nav {
    width: 1382px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .component .nav .left_item {
    display: flex;
    align-items: center;
}

.header .component .nav .left_item .logo {
    display: inline-block;
    padding-right: 10px;
}

.header .component .nav .left_item p {
    font-family: 'Source Sans 3';
    font-style: normal;
    border-left: 2px solid #4A524A;
    text-transform: uppercase;
    padding-left: 10px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
    color: rgba(214, 209, 202, 0.55);
}

.header .component .nav .left_item p a {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    border-bottom: 2px solid #4A524A;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #D6D1CA;
}

.header .component .nav .rigth_item {
    display: flex;
    align-items: center;
}

.header .component .nav .rigth_item .bag img {
    width: 16.5px;
    height: 19px;
}

.header .component .nav .rigth_item .num {
    width: 22px;
    height: 22px;
    margin: 0 15px 0 10px;
    display: flex;
    justify-content: center;
    background-color: #FFEA00;
}

.header .component .nav .rigth_item .bars {
    width: 26px;
    height: 12px;
}

@media (max-width:1440px) {
    .body .container {
        width: 100%;
        height: 5790px;
    }

    .header .component {
        width: 100%;
    }

    .header .component .nav {
        width: auto;
        padding: 0 10px;
    }
}

@media (max-width:576px) {
    .header .component .nav .left_item p {
        font-size: 10px;
    }

    .header .component .nav .left_item p a {
        font-size: 10px;
    }

    .header .component .nav .left_item .logo img {
        width: 50px;
    }
}

/* header is over */

/* section start */
.section {
    display: flex;
    justify-content: center;
}

.section .component {
    width: 1440px;
    height: 720px;
    /* padding-left: 30px; */
}

.section .component .dugital {
    display: flex;
    align-items: center;
    padding-left: 45px;
}

.section .component .dugital h1 {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 170px;
    line-height: 173px;
    color: #D6D1CA;
}

.section .component .text {
    font-family: 'Source Sans 3';
    font-style: normal;
    padding: 55px 0 0 85px;
    padding-left: 85px;
    width: 600px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: rgba(214, 209, 202, 0.7);
}

.section .component .inovate {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section .component .inovate h2 {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 170px;
    padding-right: 55px;
    line-height: 173px;
    color: #D6D1CA;
}

.section .component .inovate img {
    padding-top: 35px;
    cursor: pointer;
}

.section .component .studio {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.section .component .studio img {
    padding-top: 85px;
    padding-right: 20px;
}

.section .component .studio h1 {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 170px;
    padding-right: 85px;
    line-height: 173px;
    color: #D6D1CA;
}


@media (max-width:1440px) {
    .section {
        width: 100%;
    }

    .section .component {
        width: 100%;
    }

    .section .component .dugital {
        padding-left: 5px;
    }

    .section .component .dugital h1 {
        font-size: 150px;
    }

    .section .component .text {
        padding: 55px 0 0 60px;
        /* padding-left: 85px; */
    }

    .section .component .inovate h2 {
        font-size: 150px;
        padding-right: 35px;
    }

    .section .component .studio h1 {
        font-size: 150px;
        padding-right: 10px;
    }
}

@media (max-width:992px) {
    .section .component .dugital {
        padding-left: 5px;
    }

    .section .component .dugital h1 {
        font-size: 135px;
    }

    .section .component .text {
        padding: 55px 0 0 60px;
        /* padding-left: 85px; */
    }

    .section .component .inovate h2 {
        font-size: 135px;
        padding-right: 35px;
    }

    .section .component .studio h1 {
        font-size: 135px;
        padding-right: 10px;
    }
}

@media (max-width:768px) {
    .section .component {
        /* width: 1440px; */
        height: 520px;
        /* padding-left: 30px; */
    }

    .section .component .dugital h1 {
        font-size: 90px;
    }

    .section .component .text {
        padding: 80px 0 0 17px;
        /* padding-left: 85px; */
    }

    .section .component .inovate h2 {
        font-size: 90px;
        padding-right: 17px;
    }

    .section .component .inovate img {
        padding-top: 40px;
        width: 60px;
    }

    .section .component .studio h1 {
        font-size: 90px;
    }

    .section .component .studio img {
        padding-top: 50px;
        padding-right: 10px;
        width: 80px;
    }
}

@media (max-width:576px) {
    .section .component {
        height: 340px;
        padding-left: 10px;
    }

    .section .component .dugital {
        padding-left: 0;
    }

    .section .component .dugital h1 {
        font-size: 40px;
        line-height: 70px;
    }

    .section .component .text {
        padding: 0px 0 0 25px;
        /* padding-left: 85px; */
        width: auto;
        font-size: 13px;
        line-height: 17px;
    }

    .section .component .inovate h2 {
        font-size: 40px;
        padding-right: 10px;
        line-height: 70px;
    }

    .section .component .inovate img {
        padding-top: 20px;
        cursor: pointer;
        width: 30px;
    }

    .section .component .studio h1 {
        font-size: 40px;
        padding-right: 10px;
        line-height: 70px;
    }

    .section .component .studio img {
        padding-top: 19px;
        padding-right: 10px;
        width: 40px;
    }
}

/* section is over */

/* main start */
.main {
    display: flex;
    justify-content: center;
}

.main .component {
    width: 1440px;
    height: 820px;
    display: flex;
    justify-content: center;
}

.main .component .card {
    width: 1200px;
    height: 627px;
    display: flex;
    justify-content: center;
}

.main .component .card .card_info {
    padding: 30px 0 0 100px;
}

.main .component .card .card_info .info_top .text {
    font-family: 'Source Sans 3';
    font-style: normal;
    width: 558px;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    text-transform: uppercase;
    color: #D6D1CA;
}

.main .component .card .card_info .info_top .text2 {
    font-family: 'Source Sans 3';
    font-style: normal;
    width: 558px;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    padding-bottom: 35px;
    text-transform: uppercase;
    color: #D6D1CA;
}

.main .component .card .card_info .info_bottom {
    width: 580px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.main .component .card .card_info .info_bottom .box {
    display: flex;
    width: 200px;
}

.main .component .card .card_info .info_bottom .box .box_info .text {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #D6D1CA;
}

.main .component .card .card_info .info_bottom .box .box_info {
    padding: 10px 0 0 15px;
}

.main .component .card .card_info .info_bottom .box .box_info .text2 {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(214, 209, 202, 0.8);
}

@media (max-width:1440px) {
    .main .component {
        width: 100%;
        height: 720px;
        display: flex;
        justify-content: center;
    }

    .main .component .card {
        width: 992px;
        padding: 0 10px;
        height: 627px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .main .component .card .card_img img {
        width: 480px;
    }

    .main .component .card .card_info {
        padding: 0px 0 0 30px;
    }

    .main .component .card .card_info .info_top .text {
        width: auto;
        font-size: 50px;
    }

    .main .component .card .card_info .info_top .text2 {
        width: auto;
        font-size: 50px;
    }

    .main .component .card .card_info .info_bottom {
        width: 480px;
    }
}

@media (max-width:992px) {
    .main .component {
        width: 100%;
        height: 720px;
        display: flex;
        justify-content: center;
    }

    .main .component .card {
        width: 992px;
        height: 627px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .main .component .card .card_img img {
        width: 300px;
    }

    .main .component .card .card_info {
        padding: 25px 0 0 50px;
    }

    .main .component .card .card_info .info_top {
        text-align: center;
    }

    .main .component .card .card_info .info_top .text {
        width: 558px;
        font-size: 40px;
    }

    .main .component .card .card_info .info_top .text2 {
        width: 485px;
        font-size: 40px;
    }

    .main .component .card .card_info .info_bottom {
        width: 450px;
    }
}

@media (max-width:927px) {
    .main .component {
        width: 100%;
        height: 1050px;
    }
}

@media (max-width:576px) {
    .main .component {
        width: 100%;
        height: 900px;
    }

    .main .component .card {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .main .component .card .card_img img {
        width: 280px;
    }

    .main .component .card .card_info {
        padding: 30px 0 0 0px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .main .component .card .card_info .info_top .text {
        width: auto;
        font-size: 30px;
        line-height: 50px;
    }

    .main .component .card .card_info .info_top .text2 {
        width: auto;
        font-size: 30px;
        line-height: 50px;
        padding-bottom: 35px;
    }

    .main .component .card .card_info .info_bottom {
        width: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width:470px) {
    .main .component {
        width: 100%;
        height: 1350px;
    }
}

/* main is over */

/* section_our start */
.section_our {
    display: flex;
    justify-content: center;
}

.section_our .component {
    width: 1200px;
}

.section_our .component .top_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 100px;
}

.section_our .component .top_info .work {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 50px;
    color: #D6D1CA;
}

.section_our .component .top_info a {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #D6D1CA;
}

.section_our .component .button_info h2 {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 86px;
    line-height: 154px;
    color: #D6D1CA;
    text-transform: uppercase;
}

@media (max-width:1200px) {
    .section_our .component {
        width: 100%;
        padding: 0 10px;
    }
}

@media (max-width:576px) {
    .section_our .component {
        width: 100%;
        padding: 0 10px;
    }

    .section_our .component .top_info {
        padding-bottom: 40px;
    }

    .section_our .component .top_info .work {
        font-size: 20px;
    }

    .section_our .component .top_info a {
        font-size: 10px;
    }

    .section_our .component .button_info h2 {
        font-size: 30px;
        line-height: 75px;
    }
}

/* section_our is over */

/* sec_build start */
.sec_build {
    display: flex;
    justify-content: center;
    padding: 120px 0;
}

.sec_build .component {
    width: 1200px;
}

.sec_build .component .image_info {
    text-align: center;
}

.sec_build .component .image_info img {
    padding-bottom: 50px;
}

.sec_build .component .image_info .text {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    text-transform: uppercase;
    color: #D6D1CA;
}

.sec_build .component .image_info .text i {
    font-weight: 400;
}

.sec_build .component .image_info .btn {
    display: flex;
    justify-content: center;
    padding: 85px 0;
}

.sec_build .component .image_info .btn .view {
    display: inline-block;
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    margin-right: 10px;
    line-height: 20px;
    width: 170px;
    height: 50px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4A524A;
    border-radius: 4px;
    cursor: pointer;
}

.sec_build .component .image_info .btn .contact {
    display: inline-block;
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding-left: 10px;
    letter-spacing: 1px;
    width: 170px;
    height: 50px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #D6D1CA;
}

.sec_build .component .image_info .btn .view:hover {
    background: transparent;
}

.sec_build .component .image_info .btn .contact:hover {
    background: #4A524A;
}

@media (max-width:1200px) {
    .sec_build .component {
        width: 100%;
    }

    .sec_build .component .image_info img {
        width: 100%;
    }

}

@media (max-width:768px) {
    .sec_build .component {
        width: 100%;
    }

    .sec_build .component .image_info .text {
        font-size: 31px;
        line-height: 40px;
    }

    .sec_build .component .image_info .btn {
        padding: 55px 0;
    }

    .sec_build .component .image_info .btn .view {
        font-size: 12px;
        width: 100px;
        height: 35px;
    }

    .sec_build .component .image_info .btn .contact {
        font-size: 12px;
        width: 100px;
        height: 35px;
    }
}

/* sec_build finish */

/* .brand start */
.brand {
    display: flex;
    justify-content: center;
}

.brand .component {
    width: 1200px;

}

.brand .component .card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.brand .component .card .card_info .text {
    font-family: 'Source Sans 3';
    font-style: normal;
    width: 500px;
    height: 150px;
    font-weight: 400;
    font-size: 50px;
    line-height: 50px;
    text-transform: uppercase;
    color: #D6D1CA;
}

.brand .component .card .card_info .brand_img {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    gap: 50px;
}

.brand .component .card .card_info .btn {
    display: inline-block;
    font-family: 'Source Sans 3';
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    width: 123px;
    height: 50px;
    background: #4A524A;
    border-radius: 4px;
}

@media (max-width:1200px) {
    .brand .component .card .card_img img {
        width: 100%;
        padding-top: 25px;
    }

    .brand .component {
        width: 100%;
        padding: 0 1px;
    }
}

@media (max-width:576px) {
    .brand .component {
        width: 100%;
        padding: 0 4px;
    }

    .brand .component .card .card_info .text {
        width: auto;
        text-align: center;
    }

    .brand .component .card .card_info .brand_img {
        width: 100%;
        padding: 85px 0;
        justify-content: center;
    }
}

/* brand finish */

/* slider start */
.slider {
    padding: 150px 0;
}

.slider .uk-panel {
    border: 1px solid #4A524A;
    width: 460px;
    height: 320px;
    padding: 25px 0 0 35px;
}

.uk-width-1-2 {
    width: 43%;
}

.slider .uk-panel .text {
    width: 273px;
}

.slider .uk-panel .profil {
    display: flex;
    align-items: center;
}

.slider .uk-panel .profil .text {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #D6D1CA;
    padding-left: 10px;
    margin: 0;
}

.slider .uk-panel .profil .text2 {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #6F776F;
    padding-left: 10px;
    margin: 0;
}

.slider .next {
    top: 60px;
    right: 310px;
    border: 1px solid #6F776F;
}

.slider .previous {
    top: 60px;
    left: 70%;
    border: 1px solid #6F776F;

}

@media (max-width:992px) {
    .slider {
        display: none;
    }
}

/* slider finish */

/* .about start */

.about {
    display: flex;
    justify-content: center;
}

.about .component {
    width: 1200px;

}

.about .component .card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about .component .card .card_info .text {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    width: 406px;
    font-size: 50px;
    line-height: 50px;
    text-transform: uppercase;
    color: #D6D1CA;
}

.about .component .card .card_info .text2 {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    width: 452px;
    line-height: 30px;
    color: rgba(214, 209, 202, 0.7);
}

.about .component .card .card_info .btn {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width: 152px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #212721;
    background: #D6D1CA;
    border-radius: 4px;
}

@media (max-width:1001px) {
    .about .component {
        width: 100%;
        display: flex;
    }

    .about .component .card {
        padding-top: 20px;
        justify-content: center;
    }
}

@media (max-width:768px) {

    .about .component .card .card_info {
        padding:30px 15px;
    }

    .about .component .card .card_info .text {
        width: auto;
        font-size: 20px;
        line-height: 31px;
        padding-top: 20px;
    }

    .about .component .card .card_info .text2 {
        font-size: 19px;
        width: auto;
    }

    .about .component .card .card_info .btn {
        font-size: 12px;
        width: 100px;
        height: 40px;
    }
}

/* about finish  */

/* footer start */
.footer {
    height: 800px;
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.footer .component {
    width: 1200px;
    display: flex;
    justify-content: center;
}

.footer .component .top_info h2 {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 80px;
    text-transform: uppercase;
    text-align: center;
    color: #3A423A;
}

.footer .component .top_info .btn {
    display: flex;
    justify-content: center;
    padding-top: 45px;
}

.footer .component .top_info .btn .contact {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width: 128px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    background: #4A524A;
    border-radius: 4px;
}

.footer .component .top_info .btn .call {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width: 128px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #212721;
    border-radius: 4px;
}

.footer .component .bottom_item {
    display: flex;
    padding: 90px 0;
    flex-wrap: wrap;

}

.footer .component .bottom_item .links {
    width: 313px;
    height: 235px;
    display: flex;
    flex-direction: column;
}

.footer .component .bottom_item .links a {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #3A423A;
}

.footer .component .bottom_item .adress {
    width: 313px;
    display: flex;
    flex-direction: column;
    height: 235px;
}

.footer .component .bottom_item .adress .title {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #3A423A;
}

.footer .component .bottom_item .adress .text1 {
    width: 264px;
    height: 48px;
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #7C7C7C;
}

.footer .component .bottom_item .adress .text2 {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #3A423A;
}

.footer .component .bottom_item .adress a {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #212721;
}

.footer .component .bottom_item .follow .title {
    font-family: 'Source Sans 3';
    font-style: normal;
    padding-bottom: 70px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #3A423A;
}

.footer .component .bottom_item .follow .guide {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #212721;
}

.footer .component .bottom_item .follow .text {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #212721;
}

.footer .component .bottom_item .follow .info {
    width: 300px;
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #7C7C7C;
}
.footer .component .bottom_item .follow .info span{
    color: #696969;
}
@media (max-width:576px) {
    .footer{
        width: 100%;
        height: 1100px;
        padding: 75px 0;
    }
    .footer .component .top_info h2 {
        width: auto;
        font-size: 30px;
        line-height: 0px;
        text-align: center;
    }
    .footer .component .top_info .btn .contact {
        font-size: 12px;
        width: 100px;
        height: 40px;
    }
    .footer .component .top_info .btn .call {
        font-size: 10px;
        width: 100px;
        height: 40px;
    }.footer .component .bottom_item {
        padding: 90px 0 0 0;
        justify-content: center;
        text-align: center;
    }.footer .component .bottom_item .links {
        width: 100% ;
    }.footer .component .bottom_item .links a {
        font-size: 20px;
        line-height: 30px;
    }
}
@media (max-width:399px) {
    .footer{
        width: 100%;
        height: 1200px;
        padding: 75px 0;
    }
}